@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 300px;
  height: 400px;
  background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
}

.ts_W {
  text-shadow: .1px .1px 3px white;
}

.ts_y {
  text-shadow: .1px .1px 3px orange;
}

.ts_b {
  text-shadow: .1px .1px 3px gray;
}

.bxs_y {
  box-shadow: 1.5px 2px 5px 2px orange;
}

.mp_2 {
  display: flex;
}

.mp_3 {
  display: none;
}

.parallax {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  font-size: 60px;
  font-weight: bold;
  rotate: -2deg;
  white-space: nowrap;
  width: 100%;
  line-height: 1.2;
}

.scroller {
  display: inline-flex;
  white-space: nowrap;
  gap: 5px;
  min-width: 100%;
}

@media screen and (max-width:1334px) {
  .main_border {
    flex-wrap: wrap;

  }

  .mp_1 {
    width: 100%;
  }

  .mp_2 {
    display: none;
  }

  .mp_3 {
    display: flex;
  }

  .parallax {
    font-size: 40px;
  }
}

@media screen and (max-width:760px) {
  .parallax {
    font-size: 30px;
  }
}

@media screen and (max-width:450px) {
  .cb1 {
    display: none;
  }

  .drk_2 {
    display: flex;
  }

  .cen {
    text-align: center;
    font-size: 15px;
  }

  .fs {
    font-size: 11px;
  }

  .mfs {
    font-size: 15px;
    text-align: center;
  }

  .ppmain {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bl {
    margin: auto;
    display: block;
    margin-top: 30px;
  }

  .parallax {
    font-size: 20px;
  }
}